<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppStoreHomePageUrl" value="http://www.amazon.com/mobile-apps/b/?node=2350149011" />
    <add key="AppStoreSearchPageUrl" value="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dmobile-apps&amp;field-keywords="/>

    <add key="FreeAppFeedTitle" value="FreeAppRss.com"/>
    <add key="FreeAppFeedDescption" value="Amazon Appstore for Android's Free App of the Day, delivered by RSS"/>
    <add key="FreeAppFeedUri" value="http://freeapprss.com"/>
    <add key="FreeAppFeedAuthor" value="admin@freeapprss.com"/>
    <add key="FreeAppFeedCategory" value="Android Applications"/>

    <add key="CacheTimeoutMinutes" value="60"/>
  </appSettings>

  <connectionStrings>
    <add name="AppRssDatabase"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AppRssDatabase;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>